﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteDCPV.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="DCPV.Web.Views.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <script src="../Scripts/jquery-2.1.1.js"></script>
    <script src="../Scripts/Views/Querys.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            try {

            } catch (e) {
                toastr.error(e.message.toString(), Basetitle);
            }
        });
    </script>
</asp:Content>
