﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteDCPV.Master" AutoEventWireup="true" CodeBehind="MantProductImage.aspx.cs" Inherits="DCPV.Web.Views.MantProductImage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
</asp:Content>
