﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteDCPV.Master" AutoEventWireup="true" CodeBehind="MantMovementDetail.aspx.cs" Inherits="DCPV.Web.Views.MantMovementDetail" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
</asp:Content>
