﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteDCPV.Master" AutoEventWireup="true" CodeBehind="MantListPriceSale.aspx.cs" Inherits="DCPV.Web.Views.MantListPriceSale" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
</asp:Content>
